*{
    padding: 0;
    margin: 0;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 80px;
    font-size: 16px;
    padding: 0px 16px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

header nav img#pinterest-icon {
    width: 35px;
    height: 32px;
    padding: 4px;
}

header nav img#pinterest-icon:hover {
    background-color: #E9E9E9;
    border-radius: 150px;
}

.first{
    display: flex;
}

.first a {
    text-decoration: none;
    color: #111111;
}

.first li {
    list-style: none;
    padding: 0px 12px;
}

.first li #inicio {
    background-color: #111111;
    color: white;
    border-radius: 25px;
    padding: 14px 12px 14px;
}


.menu {
    display: none;
}

.crear {
    display: flex;
}

.search {
    flex-grow: 1;
    height: 48px;
    background-color: #E9E9E9;
    border-radius: 30px;

}

.search:hover {
    background-color: #E1E1E1;
}

.search:focus-within {
    border: 4px solid #7FC1FF;
}

.barra {
    display: flex;
    align-items: center;
    height: 48px;
}

#lupa {
    padding: 10px;
    color: #767676;
    font-size: 20px;
    font-weight: bolder;
}

.barra input {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0px 8px 0px 0px;
    font-size: 16px;
    flex-grow: 1;
}

.barra input:hover + .material-symbols-outlined {
    display: none;
}


.right-items span {
    padding: 8px;
    color: #767676;
    font-size: 28px;
}

.right-items span:hover {
    background-color: #E9E9E9;
    border-radius: 150px;
}



.contenido{
    position: absolute;
    margin-top: 80px;
    padding-right: 5px;
}

.imagenes{
    columns: 6 240px;
    margin: auto;
    
   
}

.imagenes .card-image {
    position: relative;
    padding: 6px;
}

.imagenes .card-image img {
    border-radius: 8%;
    min-width: 240px;
    max-width: 240px ;
}

.boton{
    position:absolute;
    left: 55%;
    top:5%;
    background-color: rgb(255, 85, 85);
    padding: 12px 14px;
    border-radius: 30px;
    border: none;
    opacity: 0%;
    
    
    
    
}

.boton:hover{
    opacity: 100%;
    
   
    
    
}




